.emoji-toggle {
  position: relative;
  width: 60px;
  margin: 40px auto;
}
.emoji-toggle .well {
  display: block;
  background: #eee;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.emoji-toggle .toggle {
  opacity: 0;
  border: 0;
  outline: none;
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.emoji-toggle .toggle ~ .emoji:before {
  content: "\01F431";
  position: absolute;
  left: 0;
  top: -15px;
  font-size: 40px;
  transition: 0.2s;
}
.emoji-toggle .toggle:checked ~ .emoji:before {
  left: 100%;
  margin-left: -1em;
}
.emoji-toggle .toggle ~ label {
  white-space: nowrap;
}
.emoji-toggle .toggle ~ label:before {
  position: absolute;
  right: 100%;
  margin-right: 5px;
  top: 0;
}
.emoji-toggle .toggle ~ label:after {
  position: absolute;
  left: 100%;
  margin-left: 5px;
  top: 0;
}

.emoji-happy .toggle ~ .emoji:before {
  content: "😄";
}
.emoji-happy .toggle:checked ~ .emoji:before {
  content: "😠";
}
.emoji-happy .toggle ~ label:before {
  content: "Happy";
}
.emoji-happy .toggle ~ label:after {
  content: "Mad";
}