<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link type="text/css" rel="stylesheet" href="styles.css">
    <!--<script type="text/javascript" src="login.js"></script>-->

</head>
<body>

<form action="#">

    <h1>Welcome and Log in!</h1>

    <div>
        Username
        <br>
        <input type="text" placeholder="username">
    </div>

    <div>
        Password
        <br>
        <input type="password" placeholder="password">
    </div>

    <div>
        Are you patient or Doctor
        <br>
        <input type="radio" name="patient" value="patient"> Patient
        <br>
        <input type="radio" name="doctor" value="doctor"> Doctor
        <p><a href="/signup">Sign up</a></p>
    </div>

    <div>
        <input type="submit" value="Submit">
    </div>

</form>

</body>
</html>