<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!--<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />-->
</head>
<body>

<div class="container">

    <h2>Hi, welcome to HealthNut.</h2>
    <h3>Let's get started!</h3>

    <form class="form-horizontal">

        <div class="form-group">
            <label for="">First Name</label>
            <input type="text" class="form-control" placeholder="First Name" />
        </div>

        <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" />
        </div>

        <div class="form-group">
            <label for="">Email address</label>
            <input type="text" class="form-control" placeholder="Email" />
        </div>

        <div class="form-group">
            <label for="">Phone Number</label>
            <input type="text" class="form-control" placeholder="Phone Number" />
        </div>

        <input href="/start" type="submit" value="Create Profile" />

    </form>

    <div class="img">
        <img src="/images/nut.png" />
    </div>

    <style>
    body {
        background-color: #f6fbfc;
    }
    h2,h3,.img{text-align: center; margin: 100px 20px 100px 20px}
    </style>

</body>
</html>